.immigrationPage {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .sidebarList {
    list-style: none;
    padding: 0;
  }
  
  .sidebarList li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
  }
  
  .sidebarList li:hover {
    background-color: #efefef;
  }
  
  .active {
    background-color: #cc0000;
    color: white;
  }
  
  .icon {
    color: #004aad; /* Dark Blue Icons */
    font-size: 24px; /* Larger icon size */
  }
  
  .content {
    width: 80%;
    padding: 20px;
  }
  
  .sectionTitle {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .subTitle {
    font-size: 28px;
    color: #333;
    margin-top: 40px;
    font-weight: bold;
  }
  
  .description {
    font-size: 18px;
    color: #555;
    text-align: justify; /* Justified text */
    line-height: 1.6;
  }
  
  .highlighted {
    color: red;
    font-weight: bold;
  }
  
  .selectionFactors {
    font-size: 18px;
    margin-left: 20px;
    list-style-type: disc;
    color: #555;
  }
  
  .serviceOptions {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .cardIcon {
    font-size: 36px;
    color: #004aad; /* Dark Blue */
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #555;
  }
  
  /* Image Styling */
  .imageContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  .smallImage {
    max-width: 100%;
    height: auto;
  }
  
  .requirementsSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cardsContainer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
  }
  